certifi==2020.6.20
chardet==3.0.4
dnspython==1.16.0
idna==2.10
protobuf==3.12.2
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
python-telegram-bot==12.8
telepot~=12.7
Babel~=2.8.0
beautifulsoup4==4.9.1
django~=3.0.8
mysqlclient==2.0.1
django-extensions==3.0.2
django-environ==0.4.5