aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
discord.py==1.6.0
Django==3.0.8
django-environ==0.4.5
django-extensions==3.0.2
dnspython==1.16.0
idna==2.10
multidict==4.7.6
mysqlclient==2.0.1
numpy==1.21.2
protobuf==3.12.2
pycparser==2.20
python-telegram-bot==12.8
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
telepot==12.7
tornado==6.0.4
urllib3==1.25.9
yarl==1.4.2
