{% extends "admin/index.html" %}
{% load static i18n %}

{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
        <div>
            <h2 style="font-weight: normal">Quicklinks</h2>
            {% for quicklink in quicklinks %}
                <a href="{{ quicklink.url }}"
                   style="display: flex; align-items: center;column-gap: 5px; padding: 3px 0;">
                    <img src="{% static "quicklinks_admin/img/external-link.svg" %}" alt="external link"
                         style="display: block;aspect-ratio: 1;width: 15px;object-fit: contain;">
                    <span>{{ quicklink.title }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
